body {
  background-color: #f3f3f3;
}
nav {
  height: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav .container-fluid {
  padding: 0 50px;
}

.hero-img {
  background-image: url(img/sumpahpemuda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 92vh;
}

.tokoh-1 {
  background-color: aqua;
  width: 500px;
}
img {
  width: 50%;
  height: 80vh;
}
#sejarah {
  background-color: #f3f3f3;
  height: 85vh;
}
.fw-normal {
  color: rgb(154, 154, 154);
}
.fw-normal:hover {
  color: rgb(26, 26, 26);
}

.btn-nav {
  padding: 7px 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

/* form */

.login {
  margin: 14% auto;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
